<html>
<head>
    <title>Timeline</title>
</head>
<body>

<div class="row">
    <div ng-controller="TimelineController" class="container col-sm-8">


        <div>
            <!-- Tab panes -->
            <h1>{{user.firstname}}  {{user.lastname}}  Profile</h1>

            <h2>Followers: {{user.followers.length}}</h2> <h2>Following: {{user.following.length}}</h2>
            <div class="tab-content">
                <div role="tabpanel" content="active" class="tab-pane active" id="forms">
                    <table class="table table-responsive">
                        <thead>
                        <tr>
                            <!--<th>Category</th>-->
                            <!--<th>Source</th>-->
                            <!--<th></th>-->
                            <!--<th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true">Action</span></th>-->
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="newsitem in newsitems">
                            <td>
                                <img class="img-responsive" src="{{newsitem.imageUrl}}">
                                <a href="{{newsitem.url}}" target="_blank">{{newsitem.title}}</a>
                                <br>
                                <button ng-click="addFavorite(newsitem)" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Favorite">
                                    <scan class="glyphicon glyphicon-heart"></scan>
                                </button>
                                <a ng-click="">favorite</a>
                                <button ng-click="addToShared(newsitem)" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Share">
                                    <scan class="glyphicon glyphicon-share"></scan>
                                </button>
                                <a ng-click="">share</a>
                                {{newsitem.time}}
                            </td>

                        </tr>


                        </tbody>
                    </table>

                </div>

            </div>

        </div>


    </div>
</div>
</body>
</html>