<div class="container" ng-controller="FormController">

     <ul class="nav nav-tabs">
         <li role="presentation" class="active"><a href="#form" aria-controls="forms" role="tab" data-toggle="tab">Forms</a></li>
         <li role="presentation" class="active"><a ng-href="#/user/{{user.id}}/form/{{selectedForm.id}}/fields" ng->Fields</a></li>
    </ul>

    <div class="tab-content" ng-controller = "FieldController">
        <div id="fields">
            <div class="form-horizontal">
                <div ng-repeat = "field in fields">
                    <ng-switch on="field.type" ng-model="field.type">
                        <div ng-switch-when="TEXT">
                            <br/>
                            <div>
                                <label>{{field.label}}</label>
                            </div>
                            <input type="TEXT" placeholder="{{field.placeholder}}" class="input-width" />
                            <label class="right-align">
                                <button class="btn btn-info">
                                    <span class="big-glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-primary" ng-click="cloneField(field)">
                                    <span class="big-glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-danger" ng-click="removeField(field)">
                                    <span class="big-glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                                <button><span class="big-glyphicon glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
                            </label>
                        </div>

                        <div ng-switch-when="EMAIL">
                            <br/>
                            <div>
                                <label>{{field.label}}</label>
                            </div>
                            <input type="TEXT" placeholder="{{field.placeholder}}" class="input-width" />
                            <label class="right-align">
                                <button class="btn btn-info">
                                    <span class="big-glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-primary" ng-click="cloneField(field)">
                                    <span class="big-glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-danger" ng-click="removeField(field)">
                                    <span class="big-glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                                <button><span class="big-glyphicon glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
                            </label>
                        </div>

                        <div ng-switch-when="DATE">
                            <br/>
                            <div>
                                <label>{{field.label}}</label>
                            </div>
                            <input type="date" placeholder="Select Date" class="input-width" />
                            <label class="right-align">
                                <button class="btn btn-info">
                                    <span class="big-glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-primary" ng-click="cloneField(field)">
                                    <span class="big-glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-danger" ng-click="removeField(field)">
                                    <span class="big-glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                                <button><span class="big-glyphicon glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
                            </label>
                        </div>

                        <div ng-switch-when="TEXTAREA">
                            <br/>
                            <div>
                                <label>{{field.label}}</label>
                            </div>
                            <textarea placeholder="{{field.placeholder}}" class="input-width"></textarea>
                            <label class="right-align">
                                <button class="btn btn-info">
                                    <span class="big-glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-primary" ng-click="cloneField(field)">
                                    <span class="big-glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-danger" ng-click="removeField(field)">
                                    <span class="big-glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                                <button><span class="big-glyphicon glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
                            </label>
                        </div>

                        <div ng-switch-when="OPTIONS">
                            <br/>
                            <div>
                                <label>{{field.label}}</label>
                            </div>
                            <select class="input-width">
                                <option>Select an option</option>
                                <option value="{{option.value}}" ng-repeat="option in field.options">{{option.label}}</option>
                            </select>
                            <label class="right-align">
                                <button class="btn btn-info">
                                    <span class="big-glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-primary" ng-click="cloneField(field)">
                                    <span class="big-glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-danger" ng-click="removeField(field)">
                                    <span class="big-glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                                <button><span class="big-glyphicon glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
                            </label>
                        </div>

                        <div ng-switch-when="CHECKBOXES">
                            <br/>
                            <div>
                                <label>{{field.label}}</label>
                            </div>
                            <div>
                                <div class="checkbox" ng-repeat="option in field.options">
                                    <label>
                                        <input type="checkbox" name="{{field.label}}+{{field.id}}">{{option.label}}
                                    </label>
                                </div>
                                <label class="right-align">
                                    <button class="btn btn-info">
                                        <span class="big-glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </button>
                                    <button class="btn btn-primary" ng-click="cloneField(field)">
                                        <span class="big-glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    </button>
                                    <button class="btn btn-danger" ng-click="removeField(field)">
                                        <span class="big-glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                    <button><span class="big-glyphicon glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
                                </label>
                                <br>
                            </div>
                        </div>

                        <div ng-switch-when="RADIOS">
                            <br/>
                            <div>
                                <label>{{field.label}}</label>
                            </div>
                            <div class="radiobutton" ng-repeat="option in field.options">
                                <label>
                                    <input type="radio" name="{{field.label}}+{{field.id}}"> {{option.label}}
                                </label>
                            </div>
                            <label class="right-align">
                                <button class="btn btn-info">
                                    <span class="big-glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-primary" ng-click="cloneField(field)">
                                    <span class="big-glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-danger" ng-click="removeField(field)">
                                    <span class="big-glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                                <button><span class="big-glyphicon glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
                            </label>
                            <br>
                        </div>

                    </ng-switch>
                </div>

                <br>
                <br>
                <hr class="horizontal-line">

                <div>
                    <div>
                        <label>Add New Field:</label>
                    </div>
                    <select class="input-width" ng-model="model.fieldType">
                        <option>Single Line Text Field</option>
                        <option>Multi Line Text Field</option>
                        <option>Date Field</option>
                        <option>Dropdown Field</option>
                        <option>CheckBoxes Field</option>
                        <option>CheckBoxes Field</option>
                        <option>Radio Buttons Field</option>
                    </select>
                    <label class="right-align">
                        <button class="btn btn-primary" ng-click = "addField(model.fieldType)">
                            <span class="big-glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>