body {
    margin: 0;
    background: url('black_background_wood-wallpaper-1366x768.jpg');
    background-size: 1440px 800px;
    background-repeat:no-repeat;
    display: compact;
    color:white;
    background-attachment: fixed;

}

grid-item{
    width : 200px;
}
grid-item--width2{
    width: 400px;
}