<html>
<head>
    <title>Form</title>
</head>
<body>

<div class="row">
<div ng-controller="FormController" class="container col-sm-6">
    <!--<div class="container col-sm-8">-->
        <!--<span ng-if="{{$scope.message}}!=null" >-->

        <!--<span>-->

        <div>

            <!-- Nav tabs -->
            <!--<ul class="nav nav-tabs" role="tablist">-->
                <!--<li role="presentation" class="active"><a href="#forms" aria-controls="forms" role="tab" data-toggle="tab">Interests</a></li>-->
                <!--<li role="presentation"><a href="#/profile">Personal</a></li>-->
            <!--</ul>-->

            
            <div style="font-size: large" class="alert alert-success" role="alert">Add your interests or the topics you care about</div>
            <div style="font-size: large" class="alert alert-info" role="alert">We will curate your news feed based on the topics you follow</div>
            <h2>{{$scope.message}}</h2>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" content="active" class="tab-pane active" id="forms">
                    <table class="table table-bordered table-responsive table-condensed">
                        <thead>
                        <tr>
                            <th>Topic name</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <input ng-model="interest" type="text" class="form-control" placeholder="name">
                            </td>
                            <td>
                                <button ng-click="addForm(interest)" type="button" class="btn btn-primary">
                                    <scan class="glyphicon glyphicon-plus"></scan>
                                </button>

                            </td>
                        </tr>
                        <tr ng-repeat="interest in interests">
                            <td>
                                {{interest}}
                            </td>
                            <td>
                                <button ng-click="deleteForm($index)" class="btn btn-danger">
                                    <scan class="glyphicon glyphicon-remove"></scan>
                                </button>
                            </td>
                        </tr>


                        </tbody>
                    </table>

                </div>

            </div>

        </div>


    </div>
</div>
</body>
</html>