<div ng-controller="ShowUsersController" class="col-sm-6">
    <table class="table table-strpied">
        <thead>
        Users
        </thead>
        <tbody>
        <tr ng-repeat="myUser in users">
            <td>
                <a href="#/timeline/{{myUser._id}}">
                    {{myUser.firstname}} {{myUser.lastname}}
                </a>
                <!--<a href='http://twitter.com' onclick='window.open("http://twitter.com");return false;'><i class="fa fa-twitter fa-2x">-->
                <!--</i></a>-->
            </td>
        </tr>
        </tbody>
    </table>
</div>