<div class="col-sm-2">
</div>
<div ng-controller="LoginController" class="container-fluid col-sm-8">

    <h1>Login</h1>
            <!--<div class="col-sm-offset-2 col-sm-10">-->
                <!--<a ng-click="fbLogin()" role="button" class="btn btn-primary center-block">Facebook Login</a>-->
            <!--</div>-->


            <!--<div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false">-->
                <!--Login With Facebook-->
            <!--</div>-->


            <form class="form-horizontal">
                <div class="form-group">
                    <!--<label for="FacebookLogin" class="control-label">Facebook Login</label>-->
                    <div>
                        <a role="button" class="btn btn-primary form-control" id="FacebookLogin" ng-click="fbLogin()">Facebook Login</a>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Username" class="control-label">Username</label>
                    <div>
                        <input ng-model="user.username" type="text" class="form-control" id="Username" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="control-label">Password</label>
                    <div>
                        <input ng-model="user.password" type="password" class="form-control" id="inputPassword3" placeholder="Password">
                    </div>
                </div>


                <div class="form-group">
                    <div>
                        <a ng-click=login(user) role="button" class="btn btn-primary form-control">Login</a>
                    </div>
                </div>
            </form>

</div>
