<h1>Search Results</h1>

<div ng-controller="SearchController" class="container-fluid">
    <!--<table>-->
        <!--<tr>-->
            <!--<td> </td>-->

            <!--<td>-->

            <!--</td>-->
        <!--</tr>-->
    <!--</table>-->

    <table class="table table-responsive table-condensed">
        <thead>
        <tr>
            <th>
                Follow   {{searchQuery}}
                <button ng-click="followTopic(SearchQuery)" class="btn btn-default pull-right">
                    <scan class="glyphicon glyphicon-star-empty"></scan>
                </button>
            </th>
            <th></th>
        </tr>
        <tr>
            <th>Story title</th>
            <th>Image</th>
        </tr>
        </thead>
        <tbod>
            <tr>
                <tr ng-repeat="newsitem in newsitems">
                    <td>
                        <a href={{newsitem.url}} target="_blank">{{newsitem.title}}</a>
                        <div class="fb-like" data-share="true" data-width="450" data-show-faces="true">
                        </div>
                    </td>
                    <td><img class="img-responsive" src="{{newsitem.imageUrl}}"><a href={{newsitem.url}} target="_blank"></a></img></td>

                </tr>

            </tr>
        </tbod>
    </table>
</div>