<header class="row header">
    <!--<div class="pull-left">-->
        <!--<h2>Newsroom</h2>-->
    <!--</div>-->
    <div ng-controller="HeaderController">
    <nav class="pull-right">
        <ul class="list-inline nav nav-pills" style="color:white;">
            <li><input type="text" placeholder="Search"> </li>
            <!--<li><button ng-click="deleteAllUsers()" class="btn btn-danger pull-left">Delete All Users</button></li>-->
            <li ng-if="user" ng-class="{'active' : $location.url().indexOf('timeline') != -1}"><a href="#/timeline/{{user._id}}" >Timeline</a></li>
            <li ng-if="!user" ng-class="{'active' : $location.url().indexOf('signup') != -1}"><a href="#/signup">Signup</a></li>
            <li ng-if="!user" ng-class="{'active' : $location.url().indexOf('login') != -1}"><a href="#/login">Login</a></li>
            <li ng-if="user" ng-class="{'active' : $location.url().indexOf('categories') != -1}"><a href="#/categories">Settings</a></li>
            <li ng-if="user" ng-class="{'active' : $location.url().indexOf('newsfeed') != -1}"><a href="#/newsfeed">News Feed</a></li>
            <li ng-if="user" ng-class="{'active' : $location.url().indexOf('logout') != -1}"><a ng-click="logout()">Logout</a></li>

        </ul>
    </nav>
    </div>
</header>
