<header class="row header">
    <!--<div class="pull-left">-->
        <!--<h2>Newsroom</h2>-->
    <!--</div>-->
    <nav class="pull-right">
        <ul class="list-inline nav nav-pills" style="color:white;">
            <li ng-class="{'active' : $location.url().indexOf('register') != -1}"><a href="#/signup">Signup</a></li>
            <li ng-class="{'active' : $location.url().indexOf('login') != -1}"><a href="#/login">Login</a></li>
            <li ng-class="{'active' : $location.url().indexOf('username') != -1}"><a href="#/profile">Profile</a></li>
            <li ng-class="{'active' : $location.url().indexOf('logout') != -1}"><a href="#/logout">Logout</a></li>

        </ul>
    </nav>
</header>
